- url = url_for(:action => 'cb_rate_form_field_changed', :id => "#{@sb[:rate].id || "new"}")
%h3
  = _('Date Range')
.form-horizontal
  - if  @sb[:date_ranges].empty?
    .form-group
      %label.control-label.col-md-3
        = _("This Rate is active all the time")
      .col-md-8
        = button_tag(_("Add a date range"),
                     :class   => "btn btn-primary",
                     :onclick => "miqAjaxButton('#{url_for(:action => "edit_date_range", :button => "add_date_range")}');")
  - else
    .form-group
      %label.control-label.col-md-2
        = _("Starting Date")
      .col-md-8
        = datepicker_input_tag("start_date", @sb[:date_ranges][@sb[:selected_date_range]][:start_date],
          :readonly               => "true",
          :size                   => 10,
          "data-miq_observe_date" => {:interval => '.5', :url => url}.to_json)
    .form-group
      %label.control-label.col-md-2
        = _("Ending Date")
      .col-md-8
        = datepicker_input_tag("end_date", @sb[:date_ranges][@sb[:selected_date_range]][:end_date],
          :readonly               => "true",
          :size                   => 10,
          "data-miq_observe_date" => {:interval => '.5', :url => url}.to_json)
    .form-group
      .col-md-8
        = button_tag(_("Make it Active all the Time"),
                       :class   => "btn btn-primary",
                       :onclick => "miqAjaxButton('#{url_for(:action => "edit_date_range", :button => "active_all_the_time")}');")
