= render :partial => "layouts/flash_msg"
- if @edit && @edit[:current]
  = render :partial => "cb_rate_edit"
- else
  %h3= _('Basic Info')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        %p.form-control-static
          = h(@record.description)
  %hr
  %h3= _('Rate Details')
  %table.table.table-bordered
    %thead
      %tr
        %th{:rowspan => "2"}= _('Group')
        %th{:rowspan => "2"}= _('Description')
        %th{:rowspan => "2"}= _('Interval start')
        %th{:rowspan => "2"}= _('Interval end')
        %th{:colspan => "2"}= _('Rate')
        %th{:rowspan => "2"}= _('Per Time')
        %th{:rowspan => "2"}= _('Per Unit')
      %tr
        %th= _("Fixed")
        %th= _("Variable")
    %tbody
      - @sb[:selected_rate_details].each do |r|
        - @cur_group = r[:group] if @cur_group.nil?
        - if @cur_group != r[:group]
          - @cur_group = r[:group]
          %tr
            %td.active{:colspan => "9"} &nbsp;
        - num_tiers = r.chargeback_tiers.to_a.blank? ? "1" : r.chargeback_tiers.to_a.length.to_s
        %tr
          %td{:rowspan => num_tiers}
            = h(rate_detail_group(r[:group]))
          %td{:rowspan => num_tiers}
            = r[:description]
          - tier = r.chargeback_tiers.first
          %td
            = tier.start ? tier.start : (-Float::INFINITY).to_s
          %td
            = tier.end ? tier.end : Float::INFINITY.to_s
          %td{:align => "right"}
            = tier.fix_rate ? tier.fix_rate : 0.0
          %td{:align => "right"}
            = tier.var_rate ? tier.var_rate : 0.0
          %td{:rowspan => num_tiers}
            = "#{r.detail_currency.symbol} [#{r.detail_currency.code}]"
          %td{:rowspan => num_tiers}
            = r[:per_time]
          %td{:rowspan => num_tiers}
            = r.per_unit_display
        - for j in 1..num_tiers.to_i-1
          - tier = r.chargeback_tiers.to_a[j]
          %tr
            %td
              = tier.start
            %td
              = tier.end
            %td{:align => "right"}
              = tier.fix_rate
            %td{:align => "right"}
              = tier.var_rate
        %tr
          %td{:colspan => "9"}
