- url = url_for(:action => 'cb_rate_form_field_changed', :id => "#{@sb[:rate].id || "new"}")
- currency = ChargebackRateDetailCurrency.currencies_for_select
#form_div
  %h3
    = _('Basic Info')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        = text_field_tag("description", @edit[:new][:description],
                        :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json,
                        :class => "form-control")
        = javascript_tag(javascript_focus('description'))

  %hr

  /Add a new selector for the currencies
  %h3
    = _('Currencies')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Select currency: ')
      .col-md-8
        = select_tag("currency",
          options_for_select(currency, @edit[:new][:currency]),
          "data-miq_observe" => {:url => url}.to_json)

  %h3= _('Rate Details')
  %table.table.table-bordered
    %thead
      %tr
        %th{:rowspan => "2"}= _('Group')
        %th{:rowspan => "2"}= _('Description')
        %th{:rowspan => "2"}= _('Interval start')
        %th{:rowspan => "2"}= _('Interval end')
        %th{:colspan => "2"}= _('Rate')
        %th{:rowspan => "2"}= _('Add Tier')
        %th{:rowspan => "2"}= _('Per Time')
        %th{:rowspan => "2"}= _('Per Unit')
      %tr
        %th= _("Fixed")
        %th= _("Variable")
    %tbody
      - @sb[:rate_details].each_with_index do |r, i|
        - @cur_group = r[:group] if @cur_group.nil?
        - if @cur_group != r[:group]
          - @cur_group = r[:group]
          %tr
            %td.active{:colspan => "9"} &nbsp;
        %tr{:id => "rate_detail_row#{i}"}
          %td
            = h(rate_detail_group(r[:group]))
          %td
            = r[:description]
          %td
            = text_field_tag("start#{i}", "-âˆ",
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:url => url}.to_json)
          %td
            = text_field_tag("end#{i}", "âˆ",
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:url => url}.to_json)
          %td{:align => 'right'}
            = text_field_tag("fix_rate#{i}", 0,
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          %td{:align => 'right'}
            = text_field_tag("var_rate#{i}", 0,
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          %td
            = button_tag(_("Add"),
                         :class   => "btn btn-primary",
                         :alt     => t = _("Add a new tier"),
                         :title   => t,
                         :onclick => "miqAjaxButton('#{url_for(:action => "cb_tier_add",
                                                               :id     => i,
                                                               :button => "add")}');")
          %td
            = select_tag("per_time_#{i}",
              options_for_select(@edit[:new][:per_time_types].invert, @edit[:new][:details][i][:per_time]),
              "data-miq_observe" => {:url => url}.to_json)
          - per_unit = r.per_unit_display
          %td
            = per_unit
