- i = params[:id]
- r = @sb[:rate_details][i.to_i]
- url = url_for(:action => 'cb_rate_form_field_changed', :id => "#{@sb[:rate].id || "new"}")
- n = @sb[:num_tiers][i.to_i]

%tr{:id => "rate_detail_row_#{i}_#{n-1}"}
  %td
    = text_field_tag("start_#{i}_#{n-1}",  @edit[:new][:tiers][i.to_i][n-1][:start],
      :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td
    = text_field_tag("end_#{i}_#{n-1}", @edit[:new][:tiers][i.to_i][n-1][:end],
      :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td{:align => 'right'}
    = text_field_tag("fix_rate_#{i}_#{n-1}", @edit[:new][:tiers][i.to_i][n-1][:fix_rate],
      :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td{:align => 'right'}
    = text_field_tag("var_rate_#{i}_#{n-1}", @edit[:new][:tiers][i.to_i][n-1][:var_rate],
      :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td
    = button_tag(_("Remove"),
                 :class   => "btn btn-primary",
                 :alt     => t = _("Remove the tier"),
                 :title   => t,
                 :onclick => "miqAjaxButton('#{url_for(:action => "cb_tier_remove",
                                                       :id     => i,
                                                       :button => "remove")}');")
